input {
    margin-left: 10px;
    margin-top: 10px;
    width: 200px;
    height: 40px;
    border-radius: 10px;
}

h6 {
    margin-top: 20px;
    margin-left: 10px;
}

h2 {
    font-size: 55px;
    color: white !important;
    text-shadow: 1px 1px;
    margin-top: 10px;
    margin-left: -5px;
}

h4 {
    text-align: center;
}

h5 {
    font-family: Garamond;
    margin-left: 20px;
}

hr {
    color: #32abf1 !important;
}

.btn {
    font-size: 20px;
}

.username-display {
    display: flex;
    flex-direction: column;
    /* align-content: center; */
    justify-content: center;
    font-weight: 600;
}