.full {
    background-color: rgb(238, 252, 255);
}

form {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    margin: 10px;
}

form button {
    width: fit-content;
    margin-top: 10px;
}

.tweet-userName {
    font-size: 20px;
    font-weight: 500;
}